@media only screen and (max-width: 1450px){
    .blue-line2{
        display: none;

    }
    .sales1{
        max-width:345px;
    }
    .last-man{
        max-width:600px;
    }
   
}

@media only screen and (max-width: 1316px){
    .ready{
        max-width:300px;
        font-size:25px;
    }
    .sales1{
        max-width:300px;
    }
    .last-man{
        max-width:500px;
    }
}
@media only screen and (max-width:1211px){
    .sales1{
        max-width:250px;
    }
    .boxes{
        max-width:800px;
    }
    .first-box{
        max-width:220px;
    }
    .second-box{
        max-width:220px;
    }
    .third-box{
        max-width:220px;
    }
    .forth-box{
        max-width:220px;
    }
    .fifth-box{
        max-width:220px;
    }
    .sixth-box{
        max-width:220px;
    }
    .wrap{
        max-width:220px;
    }
    .support{
        display: flex;
    position: absolute;
    left: 32%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding: 10px;
    flex-direction: column;
    }
    .icon-line {
        max-width: 1299px;
        width: 100%;
        height: 220px;
        background-color: #2D2F33;
        margin-top: 90px;
    }
    .down-div {
        max-width: 1299px;
        width: 100%;
        height: 425px;
        background-color: #212429;
        margin: 0 auto;
    }
    .footer-div{
        margin-top: 140px;
    }
}

@media only screen and (max-width:1132px){
    .ready{
        max-width:270px;
        font-size:23px;
        padding-left:60px;
    }
    .blue-man{
        width:350px;
        display: flex;
        position: absolute;
        left: 30%;
        top: 85%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
   
}

@media only screen and (max-width:1100px){
    .ready{
        max-width:260px;
        font-size:22px;
        padding-left:45px;
    }
    .sales1{
        max-width:230px;
    }
    .boxes{
        max-width:750px;
    }
    .first-box{
        max-width:200px;
    }
    .second-box{
        max-width:200px;
    }
    .third-box{
        max-width:200px;
    }
    .forth-box{
        max-width:200px;
    }
    .fifth-box{
        max-width:200px;
    }
    .sixth-box{
        max-width:200px;
    }
    .wrap{
        max-width: 200px;
    }
    .last-man{
        max-width:350px;
        
    }

}

@media only screen and (max-width:988px){
    .man{
        width:330px;
    }
    .blue-man{
        width:350px;
    }
    .man3{
        width:350px;
    }
    .last-man{
        max-width:350px;
       
    }
}

@media only screen and (max-width:985px){
    .ready{
        max-width:230px;
        font-size:20px;
        padding-left:35px;

    }
    .sales1{
        max-width:210px;
    }
    
    .boxes{
        max-width:700px;
    }
    .first-box{
        max-width:180px;
    }
    .second-box{
        max-width:180px;
    }
    .third-box{
        max-width:180px;
    }
    .forth-box{
        max-width:180px;
    }
    .fifth-box{
        max-width:180px;
    }
    .sixth-box{
        max-width:180px;
    }
    .wrap{
        max-width: 180px;
    }
    .footer-div{
        align-items: center;
        max-width:965px;
    }
    .home1{
        max-width:220px;
    }
    /* .company1{
        max-width:190px;
    } */
    .company1 {
        max-width: 255px;
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 254px;
        font-family: 'Roboto Mono', monospace;
    }
    
    .home1{
        
        max-width: 255px;
        width: 100%;
        height: 121px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 254px;
        font-family: 'Roboto Mono', monospace;
           
    }
    .div1 {
        max-width: 440px;
        width: 100%;
        height: 0px;
        margin-top: 100px;
    }
    .home2{
        font-size:20px;
    }
    .sa{
        font-size:15px;
    }
    .event{
        font-size:15px;
    }
    .apps{
        font-size:15px;
    }
    .desk{
        font-size:15px;
    }
    .startup{
        font-size:15px;
    }
    .page{
        font-size:20px;
    }
    .last-man{
        max-width:350px;
        
    }
}

@media only screen and (max-width:973px){
    .footer-div{
        align-items: center;
        max-width:1300px;
    }
    .home1{
        max-width:220px;
    }
    .company1{
        max-width:220px;
    }
}

@media only screen and (max-width:937px){
    .navbar-links{
        display: none;
    }
    .toggle-button{
        display: block;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-li{
        text-align: center;
    }
    .navbar-links.active{
        display: block;
    }
}

@media only screen and (max-width:920px){
    .ready{
        display: none;
    }
    .sales{
       display: none;
    }
    .start-con{
        display: none;
    }
}

@media only screen and (max-width:890px){
    .man{
        width:300px;
        display: flex;
        position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        /* display: none; */
    }
    .blue-man{
        width:300px;
        display: flex;
        position: absolute;
        left: 30%;
        top: 85%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    .man3{
        width:300px;
        display: flex;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        /* display: none; */
    }
    .boxes{
        max-width:606px;
    }
    .tools{
        font-size:25px;
    }
    .tools2{
        font-size:25px;
        padding-right:440px;
    }
    .blue-text{
        font-size:25px;
    }
    .blue-text2{
        font-size:25px;
    }
    .del{
        font-size:25px;
    }
    .know{
        font-size:25px;
    }
}

@media only screen and (max-width:780px){
    .boxes{
         max-width:550px;
         width:100%;
    }
    .first-box{
        max-width:150px;
    }
    .second-box{
        max-width:150px;
    }
    .third-box{
        max-width:150px;
    }
    .forth-box{
        max-width:150px;
    }
    .fifth-box{
        max-width:150px;
    }
    .sixth-box{
        max-width:150px;
    }
    .wrap{
        max-width: 150px;
    }
    .acc{
        font-size:20px;
    }
    .manage{
        font-size:15px;
    }
    .security{
        font-size:20px;
    }
    .control{
        font-size:15px;
    }
    .setting{
        font-size: 20px;
    }
    .connect{
        font-size: 15px;
    }
    .bots{
        font-size:20px;
    }
    .chatbots{
        font-size:15px;
    }
    .envelope{
        font-size:20px;
    }
    .messages{
        font-size:15px;
    }
    .knowladge{
        font-size:20px;
    }
    .answers{
        font-size:15px;
    }
    .man{
        /* display:none; */
        width:300px;
        display: flex;
        position: absolute;
        left: 75%;
        top: 77%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    .blue-text{
        font-size:25px;
    }
    .blue-text2{
        font-size:25px;
    }
    .div1 {
        max-width: 440px;
        width: 100%;
        height: 0px;
        margin-top: 100px;
    }
    .home2{
        font-size:16px;
    }
    .sa{
        font-size:13px;
    }
    .event{
        font-size:13px;
    }
    .apps{
        font-size:13px;
    }
    .desk{
        font-size:13px;
    }
    .startup{
        font-size:13px;
    }
    .page{
        font-size:16px;
    }

}

@media only screen and (max-width:765px){
    .developer{
        max-width:330px;
        width:100%;
    }
    .tools{
        font-size:25px;
    }
    .tools2{
        font-size:25px;
        padding-right:440px;
    }
    .man3{
        display: none;
    }
    .last-man{
        left: 53%;
        top: 80%;
        transform: translate(-50%, -50%);
        max-width: 549px;
    }
    .page{
        display: none;
    }
    .icons-lastdiv{
        flex-direction: column;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    .footer-div{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width:703px){
    .man{
        display: none;
    }
    .support{
        text-align: center;
        margin-left: 120px;
    }
    .blue-text{
        text-align: center;
    }
    .blue-text2{
        text-align: center;
    }
    .boxes{
        max-width:500px;
        width:100%;
    }
    .first-box{
        max-width:130px;
    }
    .second-box{
        max-width:130px;
    }
    .third-box{
        max-width:130px;
    }
    .forth-box{
        max-width:130px;
    }
    .fifth-box{
        max-width:130px;
    }
    .sixth-box{
        max-width:130px;
    }
    .acc{
        font-size:16px;
    }
    .manage{
        font-size:13px;
    }
    .security{
        font-size:16px;
    }
    .control{
        font-size:13px;
    }
    .setting{
        font-size: 16px;
    }
    .connect{
        font-size: 13px;
    }
    .bots{
        font-size:16px;
    }
    .chatbots{
        font-size:13px;
    }
    .envelope{
        font-size:16px;
    }
    .messages{
        font-size:13px;
    }
    .knowladge{
        font-size:16px;
    }
    .answers{
        font-size:13px;
    }
}

@media only screen and (max-width:642px){
    .boxes{
        max-width:450px;
    }
    .first-box{
        max-width:120px;
    }
    .second-box{
        max-width:120px;
    }
    .third-box{
        max-width:120px;
    }
    .forth-box{
        max-width:120px;
    }
    .fifth-box{
        max-width:120px;
    }
    .sixth-box{
        max-width:120px;
    }
    .acc{
        font-size:14px;
    }
    .manage{
        font-size:11px;
    }
    .security{
        font-size:14px;
    }
    .control{
        font-size:11px;
    }
    .setting{
        font-size: 14px;
    }
    .connect{
        font-size: 11px;
    }
    .bots{
        font-size:14px;
    }
    .chatbots{
        font-size:11px;
    }
    .envelope{
        font-size:14px;
    }
    .messages{
        font-size:11px;
    }
    .knowladge{
        font-size:14px;
    }
    .answers{
        font-size:11px;
    }
    .tools{
        text-align: center;
        padding-right:125px;
    }
    .tools2{
        text-align: center;
        padding-right:125px;
    }
    .blue-line4{
        display: flex;
        justify-content: center;
    }
    .blue-line5{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .home1{
        display: none;
    }
    .company1{
        display: flex;
    }
}

@media only screen and (max-width:621px){
    .footer-div{
        margin-top: 170px;
    }
    
}

@media only screen and (max-width:604px){
    .boxes{
        max-width:400px;
        display: flex;
        position: absolute;
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        flex-wrap: wrap;
    }
    .first-box{
        max-width:110px;
    }
    .second-box{
        max-width:110px;
    }
    .third-box{
        max-width:110px;
    }
    .forth-box{
        max-width:110px;
    }
    .fifth-box{
        max-width:110px;
    }
    .sixth-box{
        max-width:110px;
    }
    .acc{
        font-size:12px;
    }
    .manage{
        font-size:9px;
    }
    .security{
        font-size:12px;
    }
    .control{
        font-size:9px;
    }
    .setting{
        font-size: 12px;
    }
    .connect{
        font-size: 9px;
    }
    .bots{
        font-size:12px;
    }
    .chatbots{
        font-size:9px;
    }
    .envelope{
        font-size:12px;
    }
    .messages{
        font-size:9px;
    }
    .knowladge{
        font-size:12px;
    }
    .answers{
        font-size:9px;
    }
    .last-man{
        max-width:400px;
    }
    .developer{
        max-width:250px;
    }

}

@media only screen and (max-width:511px){
    .developer{
        max-width:200px;
    }
    .dev-text{
        font-size:12px;
    }
    .last-man{
        max-width:300px;
    }
    .create{
        font-size:15px;
    }
    .launch{
        font-size: 16px;
    }
    .base{
        font-size:15px;
    }
    .instant{
        font-size:16px;
    }
    .costumers{
        font-size:15px;
    }
    .last-header{
        font-size:20px;
    }
    .support{
        max-width:400px;
        margin-left:70px;
    }
    .difference-div{
        margin-top:-130px;
    }
   .connect-div{
       margin-top:-144px;
   }
   .down-div{
       margin-top:-170px;
   }
   .icon-line{
       height:277px;
       margin-top:30px;
   }
}

@media only screen and (max-width:426px){
    .last-boxes{
        max-width:400px;
        margin-top:35px;
    }
    .wrap{
        max-width:110px;
        height:264px;
    }
    .cross{
        font-size:12px;
    }
    .wrap-text{
        font-size:9px;
    }
    .main-h{
        font-size:25px;
    }
    .check-out{
        font-size:15px;
    }
}

@media only screen and (max-width:414px){
    .last-boxes{
        max-width:380px;
        margin-top:35px;
    }
    .wrap{
        max-width:100px;
        height:264px;
    }
    .cross{
        font-size:11px;
    }
    .wrap-text{
        font-size:10px;
    }
    .boxes{
        max-width:380px;
    }
    .first-box{
        max-width:100px;
    }
    .second-box{
        max-width:100px;
    }
    .third-box{
        max-width:100px;
    }
    .forth-box{
        max-width:100px;
    }
    .fifth-box{
        max-width:100px;
    }
    .sixth-box{
        max-width:100px;
    }
    .acc{
        font-size:11px;
    }
    .manage{
        font-size:10px;
    }
    .security{
        font-size:11px;
    }
    .control{
        font-size:10px;
    }
    .setting{
        font-size: 11px;
    }
    .connect{
        font-size: 10px;
    }
    .bots{
        font-size:11px;
    }
    .chatbots{
        font-size:10px;
    }
    .envelope{
        font-size:11px;
    }
    .messages{
        font-size:10px;
    }
    .knowladge{
        font-size:11px;
    }
    .answers{
        font-size:10px;
    }
    .company1{
        max-width:150px;
    }
    .home2{
        font-size:13px;
    }
    .sa{
        font-size:10px;
    }
    .event{
        font-size:10px;
    }
    .apps{
        font-size:10px;
    }
    .desk{
        font-size:10px;
    }
    .startup{
        font-size:10px;
    }
    .author{
        font-size:10px;
        display: flex;
        justify-content: center;
    }
    .satauri{
        display: none;
    }
    .tools{
        font-size:20px;
    }
    .tools2{
        font-size:20px;
    }
    .blue-text{
        font-size:20px;
    }
    .blue-text2{
        font-size:20px;
    }
    .del{
        font-size:20px;
    }
    .know{
        font-size:20px;
    }
}

    @media only screen and (max-width:403px){
        .support{
            max-width:280px;
        }
        .developer{
            max-width:160px;
        }
        .numbers{
            font-size:20px;
        }
        .tools{
            font-size:20px;
        }
        .tools2{
            font-size:20px;
        }
        .blue-text{
            font-size:20px;
        }
        .blue-text2{
            font-size:20px;
        }
        .del{
            font-size:20px;
        }
        .know{
            font-size:20px;
        }
        .boxes{
            max-width:360px;
        }
        .first-box{
            max-width:80px;
            height:234px;
        }
        .second-box{
            max-width:80px;
            height:234px;
        }
        .third-box{
            max-width:80px;
            height:234px;
        }
        .forth-box{
            max-width:80px;
            height:234px;
        }
        .fifth-box{
            max-width:80px;
            height:234px;
        }
        .sixth-box{
            max-width:80px;
            height:234px;
        }
        .acc{
            font-size:11px;
        }
        .manage{
            font-size:10px;
        }
        .security{
            font-size:10px;
        }
        .control{
            font-size:9px;
        }
        .setting{
            font-size: 10px;
        }
        .connect{
            font-size: 9px;
        }
        .bots{
            font-size:10px;
        }
        .chatbots{
            font-size:9px;
        }
        .envelope{
            font-size:10px;
        }
        .messages{
            font-size:9px;
        }
        .knowladge{
            font-size:10px;
        }
        .answers{
            font-size:9px;
        }
    }

    @media only screen and (max-width:346px){
        .boxes{
            max-width:360px;
        }
        .first-box{
            max-width:80px;
            height:234px;
        }
        .second-box{
            max-width:80px;
            height:234px;
        }
        .third-box{
            max-width:80px;
            height:234px;
        }
        .forth-box{
            max-width:80px;
            height:234px;
        }
        .fifth-box{
            max-width:80px;
            height:234px;
        }
        .sixth-box{
            max-width:80px;
            height:234px;
        }
        .acc{
            font-size:11px;
        }
        .manage{
            font-size:10px;
        }
        .security{
            font-size:10px;
        }
        .control{
            font-size:9px;
        }
        .setting{
            font-size: 10px;
        }
        .connect{
            font-size: 9px;
        }
        .bots{
            font-size:10px;
        }
        .chatbots{
            font-size:9px;
        }
        .envelope{
            font-size:10px;
        }
        .messages{
            font-size:9px;
        }
        .knowladge{
            font-size:10px;
        }
        .answers{
            font-size:9px;
        }
        .tools{
            font-size:20px;
        }
        .tools2{
            font-size:20px;
        }
        .blue-text{
            font-size:20px;
        }
        .blue-text2{
            font-size:20px;
        }
        .del{
            font-size:20px;
        }
        .know{
            font-size:20px;
        }
    }
    @media only screen and (max-width:346px){
        .developer{
            max-width:150px;
        }
        .support{
            max-width:265px;
        }
        .center{
            font-size:12px;
        }
        .numbers{
            font-size:15px;
        }
        .boxes{
            max-width:360px;
        }
        .first-box{
            max-width:80px;
            height:234px;
        }
        .second-box{
            max-width:80px;
            height:234px;
        }
        .third-box{
            max-width:80px;
            height:234px;
        }
        .forth-box{
            max-width:80px;
            height:234px;
        }
        .fifth-box{
            max-width:80px;
            height:234px;
        }
        .sixth-box{
            max-width:80px;
            height:234px;
        }
        .acc{
            font-size:11px;
        }
        .manage{
            font-size:10px;
        }
        .security{
            font-size:10px;
        }
        .control{
            font-size:9px;
        }
        .setting{
            font-size: 10px;
        }
        .connect{
            font-size: 9px;
        }
        .bots{
            font-size:10px;
        }
        .chatbots{
            font-size:9px;
        }
        .envelope{
            font-size:10px;
        }
        .messages{
            font-size:9px;
        }
        .knowladge{
            font-size:10px;
        }
        .answers{
            font-size:9px;
        }
        .tools{
            font-size:20px;
        }
        .tools2{
            font-size:20px;
        }
        .blue-text{
            font-size:20px;
        }
        .blue-text2{
            font-size:20px;
        }
        .del{
            font-size:20px;
        }
        .know{
            font-size:20px;
        }
    }

    @media only screen and (max-width:335px){
        .last-man{
            max-width:285px;
        }
        .blue-text{
            font-size:20px;
        }
        .blue-text2{
            font-size:20px;
        }
        .del{
            font-size:20px;
        }
        .know{
            font-size:20px;
        }
    }
    @media only screen and (max-width:326px){
        .boxes{
            max-width:360px;
        }
        .first-box{
            max-width:80px;
            height:234px;
        }
        .second-box{
            max-width:80px;
            height:234px;
        }
        .third-box{
            max-width:80px;
            height:234px;
        }
        .forth-box{
            max-width:80px;
            height:234px;
        }
        .fifth-box{
            max-width:80px;
            height:234px;
        }
        .sixth-box{
            max-width:80px;
            height:234px;
        }
        .acc{
            font-size:11px;
        }
        .manage{
            font-size:10px;
        }
        .security{
            font-size:10px;
        }
        .control{
            font-size:9px;
        }
        .setting{
            font-size: 10px;
        }
        .connect{
            font-size: 9px;
        }
        .bots{
            font-size:10px;
        }
        .chatbots{
            font-size:9px;
        }
        .envelope{
            font-size:10px;
        }
        .messages{
            font-size:9px;
        }
        .knowladge{
            font-size:10px;
        }
        .answers{
            font-size:9px;
        }
        .last-boxes{
            max-width:380px;
        }
        .wrap{
            max-width:80px;
            height:204px;
        }
        .cross{
            font-size:11px;
        }
        .wrap-text{
            font-size:10px;
        }
        .blue-text{
            font-size:20px;
        }
        .blue-text2{
            font-size:20px;
        }
        .support{
            max-width:265px;
        }
        .center{
            font-size:12px;
        }
        .numbers{
            font-size:15px;
        }
        .difference-div {
            margin-top: -230px;
        }
        .tools{
            font-size:20px;
        }
        .tools2{
            font-size:20px;
        }
        .blue-man{
            max-width:180px;
        }
        .developer{
            max-width:160px;
        }
        .last-man{
            max-width:250px;
        }
        .del{
            font-size:20px;
        }
        .know{
            font-size:20px;
        }
        .delivery-div{
            margin-top:-50px;
        }
        .down-div{
            margin-top:-325px;
        }
        .connect-div{
            margin-top:-180px;
        }
        .footer-div{
            margin-top:0px;
        }
        .template{
            margin-top:65px;
        }
        .partners{
            margin-top: 100px;
        }
        .launch:hover{
            font-size:20px;
        }
        .instant:hover{
            font-size:20px;
        }
    }

    @media only screen and (max-width:322px){
        .boxes{
            max-width:330px;
        }
        .first-box{
            max-width:70px;
            height:234px;
        }
        .second-box{
            max-width:70px;
            height:234px;
        }
        .third-box{
            max-width:70px;
            height:234px;
        }
        .forth-box{
            max-width:70px;
            height:234px;
        }
        .fifth-box{
            max-width:70px;
            height:234px;
        }
        .sixth-box{
            max-width:70px;
            height:234px;
        }
    }